<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>夫妻笑话</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_2_1.html</string>
		<key>image_name</key>
		<string>1.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>夫妻笑话</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_2_1.html</string>
		<key>image_name</key>
		<string>1.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>古代笑话</string>
		<key>image_name</key>
		<string>2.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_3_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>恶心趣味</string>
		<key>image_name</key>
		<string>3.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_29_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>经营搞笑</string>
		<key>image_name</key>
		<string>4.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_10_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>名人专场</string>
		<key>image_name</key>
		<string>5.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_18_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>爱情小屋</string>
		<key>image_name</key>
		<string>6.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_4_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>恐怖事件</string>
		<key>image_name</key>
		<string>7.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_16_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>搞笑歌词</string>
		<key>image_name</key>
		<string>8.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_6_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>校园趣事</string>
		<key>image_name</key>
		<string>9.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_17_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>恶搞体育</string>
		<key>image_name</key>
		<string>10.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_11_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宗教相关</string>
		<key>image_name</key>
		<string>11.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_26_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>儿童乐事</string>
		<key>image_name</key>
		<string>12.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_1_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>文艺青年</string>
		<key>image_name</key>
		<string>13.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_7_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>医疗医护</string>
		<key>image_name</key>
		<string>14.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_5_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>电脑笑话</string>
		<key>image_name</key>
		<string>15.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_8_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>愚人愚事</string>
		<key>image_name</key>
		<string>16.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_20_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>恋爱物语</string>
		<key>image_name</key>
		<string>17.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_33_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>司法机关</string>
		<key>image_name</key>
		<string>18.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_12_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>英语段子</string>
		<key>image_name</key>
		<string>19.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_24_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>交通肇事</string>
		<key>image_name</key>
		<string>20.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_13_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>原创另类</string>
		<key>image_name</key>
		<string>21.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_14_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>交往糗事</string>
		<key>image_name</key>
		<string>22.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_19_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>综合杂烩</string>
		<key>image_name</key>
		<string>23.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_22_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>动物逗乐</string>
		<key>image_name</key>
		<string>24.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_15_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>求爱心经</string>
		<key>image_name</key>
		<string>25.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_32_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>民间流传</string>
		<key>image_name</key>
		<string>26.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_27_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>爆笑趣闻</string>
		<key>image_name</key>
		<string>27.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_28_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>顺口溜饶舌</string>
		<key>image_name</key>
		<string>28.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_31_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>爆笑专场</string>
		<key>image_name</key>
		<string>29.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_35_1.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>爆笑专场</string>
		<key>image_name</key>
		<string>29.png</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_35_1.html</string>
	</dict>
</array>
</plist>
